---
layout: 'base.njk'
tag: home-page
---
<section class="no-bottom">
<div class="container">
<div class="hero--content text-center">
<h1 class="section-title">Section 4 Storytelling Sprint With Will Storr</h1>
<p>Master the art of Storytelling with the Story Map and the Hero's Story, taught by Will Storr.<a href="https://github.com/jeremyfaucher/11ty-theme-by-design-2-seo.git" class="under--clr" target="_blank">Repo</a>.</p>
</div>
</div>
</section>
<section class="hero">
<div class="container">
<img src="assets/home-banner.svg" alt="girl working at computer thinking creatively">
<div class="ol-two">
{%- for post in collections.blog | reverse | limit_latest(1) -%}
  {% include 'post-latest.njk' %}
{%- endfor -%}
</div>
</div>
</section>
<section class="section-bg home--about">
<div class="container">
<h2>This is my 6th Section 4 Sprint - it also couldn't have come at a more crucial time</h2>
<p>Most of the other sprints that I have participated in at Section 4 worked on pretty specific technical or business skills that you would expect from an MBA level course. High-level frameworks and in-depth case studies can take you away from the creativity you need as a brand.</p>
<p>I've always been a writer at heart and a very good storyteller - well, depending on which story I'm tellling. I guess telling stories that are funny or from the past come effortless for me - it's the stories that I need to tell about myself or my brand that cause me to get stuck and struggle.</p>
<p>I'm hoping this sprint will help me break through whatever creativity barrier that is keeping me stuck when storytelling about my brand. I hope to also explore the methods I learn in this sprint with blog posts on this website. I hope you find this blog both informative and entertaining!</p>
</div>
</section>
<section>
<div class="container">
<h2 class="section-title">Sprint Blog Posts</h2>
<p class="no-top">Here are blog posts that I've made over the course of this sprint.</p>
<div role="list" class="col-two">
{%- for post in collections.blog | reverse | limit(5) -%}
  {% include 'post-summary.njk' %}
{%- endfor -%}
</div>
</div>
</section> 